# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
